<div class="container">
  <div class="col raripepe-sale" [ngClass]="{
  'green': rariPepeOnSale.length > 0,
  'grey': rariPepeOnSale.length === 0
  }">
    <div>Rari Pepe Sale: {{rariPepeOnSale.length > 0}}</div>
  </div>

  <div class="col">
    <div>RariPepe Prices:</div>
    <div *ngFor="let art of pepeWorks" style="display: flex">
      <a style="margin-right: 20px"
         [href]="'https://app.rarible.com/token/' + art.ownership.id">{{art.properties.name}}</a>
      <div>{{art.ownership.price}}</div>
    </div>
  </div>

  <div class="col">
    <div *ngFor="let t of tokens">{{t.price}}</div>
  </div>
  <!--  <div class="col">-->
  <!--    <div>Pending</div>-->
  <!--    <ng-container *ngFor="let t of tokens; let i = index">-->
  <!--      <div *ngIf="t.pending.length > 0">{{t.pending.length}}</div>-->
  <!--    </ng-container>-->
  <!--  </div>-->
</div>
